<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fornax.bought" >

    <!-- for card.io card scanning -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        tools:replace="android:icon,android:theme"
        android:name=".IBoughtApplication"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/IBoughtMaterialTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalProfileSharingActivity" />
        <activity android:name="com.paypal.android.sdk.payments.ProfileSharingConsentActivity" />
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />
        <activity android:name="com.fornax.bought.activity.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.fornax.bought.activity.CadastroUsuarioActivity" >
        </activity>
        <activity android:name=".activity.CarrinhoComprasFragment" >
        </activity>
        <activity android:name="com.fornax.bought.activity.ConfirmacaoCompraActivity" >
        </activity>
        <activity android:name="com.fornax.bought.activity.ConfirmacaoEmailActivity" >
        </activity>
        <activity android:name="com.fornax.bought.activity.SucessoActivity" >
        </activity>
        <activity android:name="com.fornax.bought.activity.TelaPrincipalActivity" >
        </activity>
        <activity android:name="com.fornax.bought.paypal.SampleActivity" >
        </activity>
        <activity android:name="com.fornax.bought.activity.CarrinhoFinalizadoActivity" >
        </activity>
        <activity android:name="com.fornax.bought.activity.EscolherFormaPagamentoActivity" >
        </activity>
        <activity android:name="com.fornax.bought.activity.PagamentoEfetuadoActivity" >
        </activity>
        <activity android:name="com.fornax.bought.activity.MainActivity" >
        </activity>
        <activity android:name="com.fornax.bought.activity.ExemploCardViewActivity" >
        </activity>
    </application>

</manifest>
