<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bought.fornax.com.bought" >

    <!-- for card.io card scanning -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/IBoughtMaterialTheme" >
        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalProfileSharingActivity" />
        <activity android:name="com.paypal.android.sdk.payments.ProfileSharingConsentActivity" />
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />
        <activity
            android:name="com.fornax.bought.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fornax.bought.activity.CadastroUsuarioActivity">
        </activity>
        <activity
            android:name="com.fornax.bought.activity.CarrinhoComprasActivity">
        </activity>
        <activity
            android:name="com.fornax.bought.activity.ConfirmacaoCompraActivity">
        </activity>
        <activity
            android:name="com.fornax.bought.activity.ConfirmacaoEmailActivity">
        </activity>
        <activity
            android:name="com.fornax.bought.activity.SucessoActivity">
        </activity>
        <activity
            android:name="com.fornax.bought.activity.TelaPrincipalActivity">
        </activity>
        <activity
            android:name="com.fornax.bought.paypal.SampleActivity">
        </activity>
        <activity
            android:name="com.fornax.bought.activity.CarrinhoFinalizadoActivity">
        </activity>
        <activity
            android:name="com.fornax.bought.activity.EscolherFormaPagamentoActivity">
        </activity>
        <activity
            android:name="com.fornax.bought.activity.PagamentoEfetuadoActivity">
        </activity>
        <activity
            android:name="com.fornax.bought.activity.MainActivity">
        </activity>
        <activity android:name="com.fornax.bought.activity.ExemploCardViewActivity" >
        </activity>
    </application>

</manifest>
